/**
 * CSS styling for the read window.
 */

@import "../overlays";

html,
body {
  color: white;
  padding: 2px;

  overflow-y: hidden;
  overflow-x: hidden;

  .btn-default:focus, .btn-default:hover, .btn-default:active {
    background-color: white !important;
    border-color: white !important;
    box-shadow: none !important;
  }
}

.from-info {
  background-color: $messagegaurd-dark-bg;
  border-color: $messagegaurd-dark-bg;
}

#from-label {
  margin-left: 0.25em;
  padding-left: 0.5em;
  width: 100%;
  display: flex;

  border-radius: 5px;
  align-items: center;
  font-weight: bold;
}

#from-text {
  margin-left: 0.6em;
}

#small {
  display: none;
  align-items: center;
}

#large-display {
  display: block;
  margin: 1em 0.5em 0.5em;
  color: white;
  white-space: pre-wrap;
  overflow: auto !important;
}

#small-display-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 2.3em;
}

#small-display {
  @extend .center-vertical;
  overflow: auto !important;
  white-space: nowrap;
  br {
   display: none;
  }
  div {
    display: inline;
  }
}

@media (max-height: 75px) {
  #large {
    display: none;
  }
  #small {
    display: flex;
  }
  #message-mask {
    font-size: 14px;
  }
}

@media (max-height: 75px) and (max-width: 600px) {
  #message-mask {
    font-size:10px ;
  }
}

@media (max-width: 325px) and (max-height: 75px){
  #message-mask {
    font-size:8px ;
  }
}

//Too small for MessageGuard
@media (max-height: 34px), (max-width: 149px) {
  body {
    background-color: #8b0000 !important;
  }
  #large {
    display: none !important;
  }
  #small {
    display: none !important;
  }
  #too-small {
    display: block !important;
  }
}
